@model IntegrationModule.ResponseModels.VideoResponse

@{
    ViewData["Title"] = "Edit Video";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Edit Video</h1>

            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />

                <div class="form-group mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="GenreId">Genre</label>
                    <select id="genresDropdown" asp-for="GenreId" class="form-control">
                    </select>
                    <span asp-validation-for="GenreId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="TotalSeconds"></label>
                    <input asp-for="TotalSeconds" class="form-control" />
                    <span asp-validation-for="TotalSeconds" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="StreamingUrl"></label>
                    <input asp-for="StreamingUrl" class="form-control" />
                    <span asp-validation-for="StreamingUrl" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="ImageId">Image</label>
                    <select id="imagesDropdown" asp-for="ImageId" class="form-control">
                    </select>
                    <div id="imageContainer">
                    </div>
                    <span asp-validation-for="ImageId" class="text-danger"></span>
                </div>

                <div class="form-group text-center mt-4">
                    <input type="submit" value="Save" class="btn btn-primary me-2" />
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section JS {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7035/api/Images/GetAll",
                type: "GET",
                success: function (data) {
                    var dropdown = $("#imagesDropdown");
                    dropdown.empty();
                    dropdown.append($("<option />").val("").text("Select Image"));
                    $.each(data, function () {
                        dropdown.append($("<option />").val(this.id).text(this.content));
                    });
                    dropdown.val("@Model.ImageId");
                }
            });
            $.ajax({
                url: "https://localhost:7035/api/Genres",
                type: "GET",
                success: function (data) {
                    var dropdown = $("#genresDropdown");
                    dropdown.empty();
                    dropdown.append($("<option />").val("").text("Select Genre"));
                    $.each(data, function () {
                        dropdown.append($("<option />").val(this.id).text(this.name));
                    });
                    dropdown.val("@Model.GenreId"); 
                }
            });
           

            $("#imagesDropdown").change(function () {
                var selectedImageUrl = $(this).find("option:selected").text();
                if (selectedImageUrl) {
                    $("#imageContainer").text(selectedImageUrl);
                } else {
                    $("#imageContainer").empty();
                }
            });
        });
    </script>
}

