@model IEnumerable<IntegrationModule.ResponseModels.CountryResponse>

@{
    ViewData["Title"] = "List of countries";
}

<h1>List of countries</h1>

<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Code" class="btn-secondary">Details</a> |
                    </td>
                </tr>
            }
        }else
        {
            <tr>
                <td colspan="4">No countries found.</td>
            </tr>
        }
    </tbody>
</table>
