@{
    ViewData["Title"] = "Videos";
}

<div class="container-fluid w-75">
    <div class="row">
        <div class="col text-center">
            <h1>Videos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" id="search" placeholder="Search" onkeyup="filterVideos()" />
        </div>
    </div>

    <div class="row" id="videoList">
    </div>
</div>
@section JS {
    <script>
        $(document).ready(function () {
            loadVideoList();
        });

        function loadVideoList(name, genre, page) {
            var accessToken = sessionStorage.getItem('AccessToken');
            var orderBy = 'id'; 
            var pageSize = 4; 

            $.ajax({
                url: '@Url.Action("GetVideosAsync", "PBVideos")',
                type: 'GET',
                //dataType: 'json',
                data: {
                    name: name,
                    genre: genre,
                    orderBy: orderBy,
                    page: page,
                    pageSize: pageSize
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken); // Set the Authorization header
                },
                success: function (videos) {
                    $('#videoList').empty();
                    $.each(videos, function (i, video) {
                        var cardHtml = '<div class="col-md-4">' +
                            '<div class="card mb-4 shadow-sm">' +
                            '<img class="card-img-top" src="' + video.image + '" alt="Video image">' +
                            '<div class="card-body">' +
                            '<h5 class="card-title">' + video.name + '</h5>' +
                            '<p class="card-text">' + video.description + '</p>' +
                            '<a href="/PBVideos/GetVideoByIdAsync/' + video.id + '" class="btn btn-primary">View</a>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                        $('#videoList').append(cardHtml);
                    });
                },
                error: function () {
                    alert('Error loading videos.');
                }
            });
        }

        function filterVideos() {
            loadVideoList();
        }
    </script>
}