@model IntegrationModule.REQModels.UserRegisterReq

@{
    ViewData["Title"] = "Register";
}
<div class="container-fluid w-50">
    <div class="row">
        <div class="col-12">
            <h1>Register</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form asp-controller="PBRegister" asp-action="Register" method="post">
                <div class="form-group">
                    <label asp-for="Username">Username:</label>
                    <input asp-for="Username" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName">First Name:</label>
                    <input asp-for="FirstName" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label asp-for="LastName">Last Name:</label>
                    <input asp-for="LastName" class="form-control" required/>
                </div>
                <div class="form-group">

                    <label asp-for="Email">Email:</label>
                    <input asp-for="Email" type="email" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password:</label>
                    <input asp-for="Password" class="form-control" type="password" required/>
                </div>
                <div class="form-group">
                    <label asp-for="CountryOfResidenceId">Country Of Residence:</label>
                    <input asp-for="CountryOfResidenceId" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Phone Number:</label>
                    <input asp-for="Phone" class="form-control" required/>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-7">
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success p-4">
                    @TempData["Success"]
                </div>
            }

            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger p-4">
                    @TempData["Error"]
                </div>
            }
        </div>
    </div>
</div>

@if (TempData["Username"] != null && TempData["Token"] != null)
{
    <script>
        var username = '@TempData["Username"]';
        var token= '@TempData["Token"]';

        sessionStorage.setItem("username", username);
        sessionStorage.setItem("b64token", token);

        var validateEmail = confirm("Do you want to validate your email in a new window?");
        if (validateEmail) {
            window.open("https://localhost:7035/html/email-validation.html?username=" + encodeURIComponent(username) + "&b64SecToken=" + encodeURIComponent(token), '_blank');
        }

    </script>
}




